/* Стиль для компонента игры */
/* Общие стили для игры */

h3 {
  color: white;
}

.game-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.back-button {
  background-color: #ffffff;
  color: #0063DE;
  border: none;
  padding: 10px 20px;
  margin-top: 10%;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.game-controls {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: #FFF;
  border-radius: 73px;
  align-items: center;
  margin: 48px 0 73px 0;
}

.variant {
  width: auto;
  background-color: #0063DE;
  margin: 75px;
  border-radius: 58px;
  font-size: 25px;
  font-weight: bolder;
  padding: 110px;
  /* height: 50px; */
  /* justify-self: center; */
}

/* Кнопки выбора */
.choices-container {
  width: 400px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
  margin: 30px 70px 77px 71px;
  /* align-self: center; */
}

.choice-button {
  background-color: #0063DE;
  color: #FFF;
  width: auto;
  font-size: 2rem;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.choice-button:hover {
  transform: scale(1.1);
  background: #4fa3e5;
}

/* Результат */
.game-result {
  margin-top: 20px;
}

.result-win {
  color: #dbe54f;
}

.result-lose {
  color: #e74c3c;
}

.result-nothing {
  color: #163346;
}

/* Кнопки действий */
.action-buttons {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.reset-button,
.prize-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.reset-button {
  background: #3498db;
  color: white;
}

.prize-button {
  background: #4fa3e5;
  color: white;
}

/* Модальное окно */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.confirm-button {
  background: #4fa3e5;
  color: white;
}

.cancel-button {
  background: #e74c3c;
  color: white;
}